rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /captures/{captureId} {
      allow read, write: if true;
    }
    match /training_assets/{label}/samples/{docId} {
      allow read, write: if true;
    }
    match /ml_pipeline/{docId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
